.header{
  display: flex;
  justify-content: space-around;
  background-color: darkseagreen;
  flex-direction: row;
  border-color: black;
  border: 1px double;
  margin: 10 10 10 10;
  padding: 5;
  box-shadow:  5px 10px #888888;;
}
.logo{
    width: 50px;
    height: 50px;
}